*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.silder-item{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.silder-item::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

.silder-item-one{
    background-image:url('chuongml/asus.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.silder-item-two{
    background-image:url('chuongml/laptop.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.silder-item-three{
    background-image:url('chuongml/laptopp.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.owl-prev{
    position: absolute;
    left: 0;
    font-size: 50px !important;
    color: #fff !important;
    top: 50% ;
    transform: translateY(-50%);
}
.owl-next{
    position: absolute;
    right: 0;
    font-size: 50px !important;
    color: #fff !important;
    top: 50% ;
    transform: translateY(-50%);
}
.owl-prev ,  .owl-next{
    background: none !important;
}
.slider .owl-dots{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}
.slider .owl-dots span{
    width: 15px !important;
    height: 15px !important;
}
.owl-nav{
    display: none;
}
.silder-item{
    display: flex;
    align-items: center;
}
.warrap{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
    
    
}
.slider-item-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
}
/*-------------- chi tiết ---------- */
.chitiet{
    font-size: 4.5em;
    color: #F0F8FF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 9px;
    text-shadow: 0.07em 0.07em 0.07em  black, 0.05em 0.05em 0.4em rgb(1,158,208)   ,-5px 0 black, 0 1px black,      1px 0 black, 0 -1px black ;
}
/*-------------- tiêu đề ---------- */
.tiede{
    font-size: 3em;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
   color: rgb(225, 225, 225);
   text-shadow: -2px 0 rgb(144,110,241), 0 1px black;
}
/*-------------- btn ---------- */
.btn{
    position: relative;
    margin-top: 10px;
    padding: 12px 20px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid white;
    
    
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #7B68EE;
    
    z-index: -1;
    transition: 0.7s all ease-in-out;
    transform-origin: 0 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}
.btn:hover{
    
    color: #fff;
}
.btn:hover::before{
    transform: scaleX(1);
}
/*-------------- header ---------- */
header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    
}

.header-content{
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    background-color: rgba(100, 31, 64);
    
}

a{
    text-decoration: none;
    
}
li{
    list-style: none;
}

.header-nav>ul{
    display: flex;
  
}
 .header-nav ul li{
    margin:0 10px;
    position: relative;
    display: inline-block;
}
.header-nav ul li::after{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #c7a71b;
    transition: 0.5s;
}
.header-nav ul li:hover::after{
    width: 100%;
}
.header-nav ul li a{
    text-transform: uppercase;
    color: #fff;
}
.header-logo{
    display: block;
    margin-right: 45px;
}
.header-logo p{
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Carattere', cursive;
    font-style: italic;

}
.button{
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    color: #F0F8FF;
    font-size: 15px;
    position: relative;
    background: none;
    border: 0.5px solid white;
    
}
.button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00CED1;
    
    z-index: -1;
    transition: 0.7s all ease-in-out;
    transform-origin: 0 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
   
}
.button-dn::before{
    transform: scaleX(0);
}
.button-dk::before{
    transform: scaleY(0);
   
}
.button-dn:hover::before{
    transform: scaleX(1);
    
}

.button-dk:hover::before{
    transform: scaleY(1);
}
/*--------------------nav --------------*/

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block;
    background-image:url('chuongml/hinhnen.jfif') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.nav-box{
    width: 1000px;
    height: 500px;
    background-color: #c7a71b;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chuong{
    margin: auto;
}
#sliderone{
    margin-top: 2%;
    width: 85%;

}

.container-h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    
}
// .nav-item::before{
//     content: "";
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0,0.4);
// }

// .nav-image-one{
  
// }
.content{
    text-align: center;
    background-color: rgb(1,158,208);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
}
.lvc{
    // height: 550px;
    // width: 500px;
    background-color: rgb(53, 170, 88);

    height: 350px;
    width: 300px;
    // margin:  auto;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // border-radius: 10px;
    
    // color: #fff;
   
    // width: 300px;
    &-span{
        display: block;
    }
    &-img{
        width: 200px;
        height: 200px;
     display: inline-block;
        overflow: hidden;
        
        
    }
    &-img img{
        width: 100%;
       
    }
   
    
   
}
.container .owl-dots{
    text-align: center;
    margin-top: 1%;
}
.chuong .owl-dot{
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    background-color: #ddd !important;
    margin: 0 10px;
    opacity: 0.8;
    border-radius: 50%;
    outline: none;
}
.chuong .owl-dot:hover,
.chuong .owl-dot .active
{
    background-color: rgb(192, 22, 22) !important;
}

